Fashion
Sep 27, 2023
2.6K
Views
2 CommentsComments
Last week, Senior Vice President of Creative Direction at HUGO BOSS, Marco Falcioni, opened the gates to a new realm that fearlessly looked into the future. The showcase was bombarded with state-of-the-art technology led by Hanson Robotics‘ Sophia the Robot. The realistic humanoid was activated in 2016, amassing over 200,000 Instagram followers and entering the fashion industry with an eye for domination.
BOSS’ Techtopia was a world of its own, seeing three versions of Sophia interact with guests at the entrance, reception, and sat front row. She was dressed in BOSS’ business-ready uniforms, taking over digital screens and kicking off the runway with South Korean talent Lee Minho. With Sophia’s permission, the singer and actor ignited the show blasted on screens across the venue.
1 of 2
Boss
2 of 2
Boss
BOSS’ futuristic vision was bold and unafraid, portraying a robotic universe grounded in innovation. The brand’s Techtopia was packed with glass installations housing mechanic humans inside, taking on automated roles of dinner guests, doctors, and more.
Take a closer look at BOSS’ Fall/Winter 2023 Techtopia runway show with Sophia the robot above, and read the full runway review here.
Elsewhere, Valentino Garavani will receive an Outstanding Achievement Award at the 2023 Fashion Awards.
Read Full Article